In [1]:
import pyspark
from pyspark.sql import SparkSession

In [125]:
import numpy as np

In [2]:
import os
print(os.environ['SPARK_HOME'])

C:\Program Files\Spark\spark-3.3.0-bin-hadoop3

In [3]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [4]:
spark

In [25]:
# inferschema enables the spark to understand the dtype of columns
dfpyspark=spark.read.csv(r'C:\Users\DELL\spark.csv',header=True,inferSchema=True)

<h6> or

In [75]:
dfpyspark=spark.read.option('header','true').csv(r'C:\Users\DELL\spark.csv',inferSchema=True)

In [76]:
dfpyspark.show()

+----+----------+----+
|Name|Experience| Age|
+----+----------+----+
|   a|         5|  21|
|   b|         6|  22|
|   c|         7|  21|
|   d|         8|  21|
|   e|         9|  21|
|   f|        10|  22|
|null|      null|null|
|null|      null|  21|
|null|        13|  21|
+----+----------+----+

In [34]:
# this is pyspark dataframe not pandas dataframe
type(dfpyspark)

pyspark.sql.dataframe.DataFrame

In [77]:
dfpyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Age: integer (nullable = true)

In [39]:
dfpyspark.columns

['Name', 'Experience', 'Age']

In [40]:
dfpyspark.head()

Row(Name='a', Experience=5, Age=21)

In [61]:
dfpyspark.head(3)

[Row(Name='a', Experience=5, Age=21, Age after 2 years=23),
 Row(Name='b', Experience=6, Age=21, Age after 2 years=23),
 Row(Name='c', Experience=7, Age=21, Age after 2 years=23)]

In [48]:
dfpyspark['Name']

Column<'Name'>

In [78]:
dfpyspark.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
|   a|         5|
|   b|         6|
|   c|         7|
|   d|         8|
|   e|         9|
|   f|        10|
|null|      null|
|null|      null|
|null|        13|
+----+----------+

In [53]:
dfpyspark.dtypes

[('Name', 'string'), ('Experience', 'int'), ('Age', 'int')]

In [79]:
dfpyspark.describe().show()

+-------+----+-----------------+-------------------+
|summary|Name|       Experience|                Age|
+-------+----+-----------------+-------------------+
|  count|   6|                7|                  8|
|   mean|null|8.285714285714286|              21.25|
| stddev|null|2.690370836538197|0.46291004988627565|
|    min|   a|                5|                 21|
|    max|   f|               13|                 22|
+-------+----+-----------------+-------------------+

In [81]:
# adding column
dfpyspark=dfpyspark.withColumn('Age after 2 years',dfpyspark['Age']+2)

In [82]:
dfpyspark.show()

+----+----------+----+-----------------+
|Name|Experience| Age|Age after 2 years|
+----+----------+----+-----------------+
|   a|         5|  21|               23|
|   b|         6|  22|               24|
|   c|         7|  21|               23|
|   d|         8|  21|               23|
|   e|         9|  21|               23|
|   f|        10|  22|               24|
|null|      null|null|             null|
|null|      null|  21|               23|
|null|        13|  21|               23|
+----+----------+----+-----------------+

In [83]:
#drop the column
dfpyspark=dfpyspark.drop('Age after 2 years')
dfpyspark.show()

+----+----------+----+
|Name|Experience| Age|
+----+----------+----+
|   a|         5|  21|
|   b|         6|  22|
|   c|         7|  21|
|   d|         8|  21|
|   e|         9|  21|
|   f|        10|  22|
|null|      null|null|
|null|      null|  21|
|null|        13|  21|
+----+----------+----+

In [84]:
# rename
dfpyspark=dfpyspark.withColumnRenamed('Name','First_Name')
dfpyspark.show()

+----------+----------+----+
|First_Name|Experience| Age|
+----------+----------+----+
|         a|         5|  21|
|         b|         6|  22|
|         c|         7|  21|
|         d|         8|  21|
|         e|         9|  21|
|         f|        10|  22|
|      null|      null|null|
|      null|      null|  21|
|      null|        13|  21|
+----------+----------+----+

In [85]:
# dropping all na rows
dfpyspark.na.drop().show()
## or
dfpyspark.dropna().show()

+----------+----------+---+
|First_Name|Experience|Age|
+----------+----------+---+
|         a|         5| 21|
|         b|         6| 22|
|         c|         7| 21|
|         d|         8| 21|
|         e|         9| 21|
|         f|        10| 22|
+----------+----------+---+

+----------+----------+---+
|First_Name|Experience|Age|
+----------+----------+---+
|         a|         5| 21|
|         b|         6| 22|
|         c|         7| 21|
|         d|         8| 21|
|         e|         9| 21|
|         f|        10| 22|
+----------+----------+---+

In [87]:
# dropping only those where all values are null
dfpyspark.na.drop(how='all').show()

+----------+----------+---+
|First_Name|Experience|Age|
+----------+----------+---+
|         a|         5| 21|
|         b|         6| 22|
|         c|         7| 21|
|         d|         8| 21|
|         e|         9| 21|
|         f|        10| 22|
|      null|      null| 21|
|      null|        13| 21|
+----------+----------+---+

In [90]:
dfpyspark.na.drop(how='any',thresh=2).show()

+----------+----------+---+
|First_Name|Experience|Age|
+----------+----------+---+
|         a|         5| 21|
|         b|         6| 22|
|         c|         7| 21|
|         d|         8| 21|
|         e|         9| 21|
|         f|        10| 22|
|      null|        13| 21|
+----------+----------+---+

In [98]:
# using only particular columns removing the null values.
dfpyspark.na.drop(subset=['Experience','Age']).show()

+----------+----------+---+
|First_Name|Experience|Age|
+----------+----------+---+
|         a|         5| 21|
|         b|         6| 22|
|         c|         7| 21|
|         d|         8| 21|
|         e|         9| 21|
|         f|        10| 22|
|      null|        13| 21|
+----------+----------+---+

In [108]:
# filling the missing values
dfpyspark.na.fill('Missing').show() 
dfpyspark.na.fill(0).show()

+----------+----------+----+
|First_Name|Experience| Age|
+----------+----------+----+
|         a|         5|  21|
|         b|         6|  22|
|         c|         7|  21|
|         d|         8|  21|
|         e|         9|  21|
|         f|        10|  22|
|   Missing|      null|null|
|   Missing|      null|  21|
|   Missing|        13|  21|
+----------+----------+----+

+----------+----------+---+
|First_Name|Experience|Age|
+----------+----------+---+
|         a|         5| 21|
|         b|         6| 22|
|         c|         7| 21|
|         d|         8| 21|
|         e|         9| 21|
|         f|        10| 22|
|      null|         0|  0|
|      null|         0| 21|
|      null|        13| 21|
+----------+----------+---+

Only the same dtype columns are filled.

In [109]:
# So
dfpyspark.na.fill('Missing')\
    .na.fill(0).show()

+----------+----------+---+
|First_Name|Experience|Age|
+----------+----------+---+
|         a|         5| 21|
|         b|         6| 22|
|         c|         7| 21|
|         d|         8| 21|
|         e|         9| 21|
|         f|        10| 22|
|   Missing|         0|  0|
|   Missing|         0| 21|
|   Missing|        13| 21|
+----------+----------+---+

In [114]:
# or by using subset
dfpyspark.na.fill({'First_Name':'Missing','Age':0,'Experience':0}).show()

+----------+----------+---+
|First_Name|Experience|Age|
+----------+----------+---+
|         a|         5| 21|
|         b|         6| 22|
|         c|         7| 21|
|         d|         8| 21|
|         e|         9| 21|
|         f|        10| 22|
|   Missing|         0|  0|
|   Missing|         0| 21|
|   Missing|        13| 21|
+----------+----------+---+

##### using imputer to replace null values

In [121]:
from pyspark.ml.feature import Imputer
impute=Imputer(
    inputCols=['Experience','Age'],
    outputCols=["{}_imputed".format(c) for c in ['Experience','Age']]).setStrategy('median')

In [123]:
dfpyspark=impute.fit(dfpyspark).transform(dfpyspark)

In [124]:
dfpyspark.show()

+----------+----------+----+------------------+-----------+
|First_Name|Experience| Age|Experience_imputed|Age_imputed|
+----------+----------+----+------------------+-----------+
|         a|         5|  21|                 5|         21|
|         b|         6|  22|                 6|         22|
|         c|         7|  21|                 7|         21|
|         d|         8|  21|                 8|         21|
|         e|         9|  21|                 9|         21|
|         f|        10|  22|                10|         22|
|      null|      null|null|                 8|         21|
|      null|      null|  21|                 8|         21|
|      null|        13|  21|                13|         21|
+----------+----------+----+------------------+-----------+

In [145]:
dfpyspark=dfpyspark.drop('Experience_imputed','Age_imputed')

#### using other method to replace null values

In [150]:
dfpyspark=dfpyspark.na.fill({'First_Name':'Unknown','Experience':np.mean(dfpyspark.select('Experience').dropna().collect()),
                   'Age':np.median(dfpyspark.select('Age').dropna().collect())})
dfpyspark.show()

+----------+----------+---+
|First_Name|Experience|Age|
+----------+----------+---+
|         a|         5| 21|
|         b|         6| 22|
|         c|         7| 21|
|         d|         8| 21|
|         e|         9| 21|
|         f|        10| 22|
|   Unknown|         8| 21|
|   Unknown|         8| 21|
|   Unknown|        13| 21|
+----------+----------+---+

## Filter

In [169]:
dfpyspark.filter((dfpyspark['Age']==21) | (dfpyspark['Experience']<10)).select(['First_Name']).show()

+----------+
|First_Name|
+----------+
|         a|
|         b|
|         c|
|         d|
|         e|
|   Unknown|
|   Unknown|
|   Unknown|
+----------+

In [171]:
# not
dfpyspark.filter(~((dfpyspark['Age']==21) | (dfpyspark['Experience']<10))).select(['First_Name']).show()

+----------+
|First_Name|
+----------+
|         f|
+----------+